<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>813152005106-pkpr0bgi2fnh86vmjth9d9qscclqh783.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.813152005106-pkpr0bgi2fnh86vmjth9d9qscclqh783</string>
	<key>API_KEY</key>
	<string>AIzaSyDwqCb60-nM5nJBFzVnNPJY3QrXeeTbPvo</string>
	<key>GCM_SENDER_ID</key>
	<string>813152005106</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ios.docTRA</string>
	<key>PROJECT_ID</key>
	<string>doctra-f4f4b</string>
	<key>STORAGE_BUCKET</key>
	<string>doctra-f4f4b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:813152005106:ios:757571d06e201c8535196b</string>
	<key>DATABASE_URL</key>
	<string>https://doctra-f4f4b-default-rtdb.firebaseio.com</string>
</dict>
</plist>